<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rengtals</h2>
    <p>
        The Super rentals website is a delightful project
        created to explor Ember. By building a property rental
        site we can simultaneously imagine traveling AND
        building Ember applications.
    </p>
</div> 

